.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vh 70vh 10vh;
  grid-gap: 1em;
}

body {
    margin: 0 1em 0 1em;
    font-family: 'Roboto';
  }

header,
footer {
  grid-column: 1 / span 4;
}

main {
  grid-column: span 2;
}

aside {
  grid-column: 1 / span 1;
}

@media (max-width: 700px) {
  main,
  aside {
    grid-column: 1 / span 4;
  }
}

header {
  background: #eaeaea;
  display: flex;
  justify-content: space-between;
}

main,
aside,
footer {
  background: #eaeaea;
  display: flex;
}

#logo {
    place-self: start;
    margin-left: 0.5em;
    margin-top: 0.5em;
    max-width: 75%;
    max-height: 75%;
}

#title {
    place-self: center;
    margin-left: 1.25em;
}

.item {
    margin-left: 2.5em;
    margin-top: 2em;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}