#list1 li,
#list2 li,
#list3 li {
  font-size: 1.2em;
  margin-top: 0.5em;
}

nav {
  min-height: 7.5%;
  margin-bottom: 2%;
  font-size: 1.2em;
  color: #fff;
}

.options {
  margin-right: 10%;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  margin-right: 2em;
  display: inline-block;
}

.container {
  margin-left: 2%;
  margin-right: 2%;
}

img {
  max-width: 75px;
}

.padded {
  padding-top: 1em;
}

#list1,
#list2,
#list3 {
  min-height: 50vh;
}

.liked {
  color: #bd081c;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #f7f7f7;
}

.fa {
  cursor: pointer;
}

.show {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f7f7f7;
    min-width: 5em;
    overflow: auto;
    z-index: 1;
}

a {
    color: #fff;
    text-decoration: none;
}

#options-logged-in {
    display: none;
}

footer .fa {
    color: blue;
}